@model BackEnd_ejemplo1.Models.Trabajador

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(Model => Model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-10">
                @Html.EditorFor(Model => Model.Nombre,
                new { HtmlAtrbute = new { @class = "for-control" } })
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(Model => Model.Apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-10">
                @Html.EditorFor(Model => Model.Apellidos,
                new { HtmlAtrbute = new { @class = "for-control" } })
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(Model => Model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-10">
                @Html.EditorFor(Model => Model.FechaNacimiento,
                new { HtmlAtrbute = new { @class = "for-control" } })
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(Model => Model.Sueldo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-10">
                @Html.EditorFor(Model => Model.Sueldo,
                new { HtmlAtrbute = new { @class = "for-control" } })
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(Model => Model.EsFijo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-10">
                @Html.EditorFor(Model => Model.EsFijo,
                new { HtmlAtrbute = new { @class = "for-control" } })
            </div>
        </div>
    </div>
}